---
layout: default
pagination: 
  enabled: true
  collection: posts
---
<style>
  ul.pager { text-align: center; list-style: none; }
  ul.pager li {display: inline; padding: 10px; margin: 5px;}
</style>
<div class="posts">
  <!-- {{ site.post | length }} -->
  {% for post in paginator.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="date">
        {{ post.date | date: "%B %e, %Y" }}
      </div>
      <div class="entry">
        {{ post.excerpt }}
      </div>
      <div class="read-more-btn-container">
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more-btn-shared" title="Read more">&lt;&gt;</a>
      </div>
    </article>
  {% endfor %}

    <!-- 
    Showing buttons to move to the next and to the previous list of posts (pager buttons).
  -->
  {% if paginator.total_pages > 1 %}
  <div class="pager-btn-container">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//' , '/' }}" class="pager-btn-shared" title="Newer posts">&lt;</a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//' , '/' }}" class="pager-btn-shared" title="Older posts">&gt;</a>
    {% endif %}
  </div>
  {% endif %}
</div>