<article class="post">
  <div style="display:flex;align-items:center;justify-content:space-between;flex-wrap:wrap;">
    <h1 style="margin:0;">$title$</h1>
    <span class="floating-back-inline">$partial("templates/floating-back.html")$</span>
  </div>

  <div class="entry">
    $body$
  </div>

  <div class="date">
    Written $date$
  </div>

  <div class="desktop-back-btn-container">
    <a href="javascript:window.history.back()" title="Go back" class="desktop-back-btn back-btn-shared">&lt;&gt;</a>
  </div>
</article>

$partial("templates/disqus.html")$
