$if(footer-dribbble)$<a href="https://dribbble.com/$footer-dribbble$"><i class="svg-icon dribbble"></i></a>$endif$
$if(footer-email)$<a href="mailto:$footer-email$"><i class="svg-icon email"></i></a>$endif$
$if(footer-facebook)$<a href="https://www.facebook.com/$footer-facebook$"><i class="svg-icon facebook"></i></a>$endif$
$if(footer-flickr)$<a href="https://www.flickr.com/$footer-flickr$"><i class="svg-icon flickr"></i></a>$endif$
$if(footer-github)$<a href="https://github.com/$footer-github$"><i class="svg-icon github"></i></a>$endif$
$if(footer-instagram)$<a href="https://instagram.com/$footer-instagram$"><i class="svg-icon instagram"></i></a>$endif$
$if(footer-linkedin)$<a href="https://www.linkedin.com/in/$footer-linkedin$"><i class="svg-icon linkedin"></i></a>$endif$
$if(footer-pinterest)$<a href="https://www.pinterest.com/$footer-pinterest$"><i class="svg-icon pinterest"></i></a>$endif$
$if(footer-twitter)$<a href="https://www.twitter.com/$footer-twitter$"><i class="svg-icon twitter"></i></a>$endif$
$if(footer-stackoverflow)$<a href="http://stackoverflow.com/$footer-stackoverflow$"><i class="svg-icon stackoverflow"></i></a>$endif$
$if(footer-youtube)$<a href="https://youtube.com/$footer-youtube$"><i class="svg-icon youtube"></i></a>$endif$
